<footer id="footer">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.teufelswerk')} == '1'">
        <a href="https://www.teufels.com/?utm_source=website&utm_medium=footer&utm_campaign=customer" target="_blank" class="teufels-link"
           title="teufels - Marke. Kreation. Digital.">
            <svg xmlns="http://www.w3.org/2000/svg" width="96.478" height="13.456" viewBox="0 0 96.478 13.456">
                <defs>
                    <style>
                        #teufelswerk .cls-1 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <path id="teufelswerk" data-name="teufelswerk" class="cls-1" d="M1.477-12.041h1.6v2.628h1.5v1.292h-1.5v6.144a.665.665,0,0,0,.334.659,1.42,1.42,0,0,0,.615.1q.114,0,.246,0t.308-.022V0a3.532,3.532,0,0,1-.567.114,5.39,5.39,0,0,1-.637.035,1.717,1.717,0,0,1-1.5-.567,2.519,2.519,0,0,1-.4-1.472V-8.121H.2V-9.413H1.477Zm8.6,2.417a4.294,4.294,0,0,1,1.942.47,3.582,3.582,0,0,1,1.433,1.217,4.2,4.2,0,0,1,.633,1.661A10.868,10.868,0,0,1,14.229-4.2H7.33a4.026,4.026,0,0,0,.677,2.3,2.266,2.266,0,0,0,1.96.866,2.534,2.534,0,0,0,1.978-.817,2.755,2.755,0,0,0,.6-1.1H14.1A3.276,3.276,0,0,1,13.689-1.8a4.111,4.111,0,0,1-.778,1.042,3.687,3.687,0,0,1-1.784.949A5.42,5.42,0,0,1,9.835.334,3.964,3.964,0,0,1,6.855-.945,4.976,4.976,0,0,1,5.634-4.526a5.41,5.41,0,0,1,1.23-3.683A4.059,4.059,0,0,1,10.081-9.624ZM12.6-5.458A4.1,4.1,0,0,0,12.155-7.1,2.3,2.3,0,0,0,9.984-8.244a2.406,2.406,0,0,0-1.828.787,2.972,2.972,0,0,0-.782,2Zm5.15-3.955v6.249a2.635,2.635,0,0,0,.229,1.178,1.6,1.6,0,0,0,1.573.844,2.224,2.224,0,0,0,2.25-1.477,5.858,5.858,0,0,0,.325-2.171V-9.413h1.582V0H22.219l.018-1.389a3.191,3.191,0,0,1-.765.905,3.365,3.365,0,0,1-2.2.738A2.834,2.834,0,0,1,16.532-1.09a4,4,0,0,1-.4-1.925v-6.4Zm8.824-1.433a2.821,2.821,0,0,1,.343-1.441,2.423,2.423,0,0,1,2.136-.809q.149,0,.308.009t.36.026v1.441q-.246-.018-.356-.022t-.207,0q-.721,0-.861.374a7.385,7.385,0,0,0-.141,1.9h1.564v1.248H28.143V0H26.578V-8.121h-1.31V-9.369h1.31ZM35.1-9.624a4.294,4.294,0,0,1,1.942.47,3.582,3.582,0,0,1,1.433,1.217,4.2,4.2,0,0,1,.633,1.661A10.868,10.868,0,0,1,39.252-4.2h-6.9a4.026,4.026,0,0,0,.677,2.3,2.266,2.266,0,0,0,1.96.866,2.534,2.534,0,0,0,1.978-.817,2.755,2.755,0,0,0,.6-1.1H39.12A3.276,3.276,0,0,1,38.711-1.8a4.111,4.111,0,0,1-.778,1.042,3.687,3.687,0,0,1-1.784.949,5.42,5.42,0,0,1-1.292.141A3.964,3.964,0,0,1,31.878-.945a4.976,4.976,0,0,1-1.222-3.582,5.41,5.41,0,0,1,1.23-3.683A4.059,4.059,0,0,1,35.1-9.624Zm2.522,4.166A4.1,4.1,0,0,0,37.178-7.1a2.3,2.3,0,0,0-2.171-1.143,2.406,2.406,0,0,0-1.828.787,2.972,2.972,0,0,0-.782,2Zm3.612-7.453H42.82V0H41.238Zm4.9,9.958a2.3,2.3,0,0,0,.4,1.213A2.485,2.485,0,0,0,48.6-.976a3.059,3.059,0,0,0,1.547-.382,1.27,1.27,0,0,0,.668-1.182,1.011,1.011,0,0,0-.536-.923,6.374,6.374,0,0,0-1.354-.448l-1.257-.316A6.131,6.131,0,0,1,45.9-4.9a2,2,0,0,1-1.02-1.775,2.713,2.713,0,0,1,.962-2.162,3.839,3.839,0,0,1,2.588-.826A3.593,3.593,0,0,1,51.5-8.411a2.708,2.708,0,0,1,.571,1.705H50.572a1.83,1.83,0,0,0-.378-.976,2.41,2.41,0,0,0-1.89-.624,2.259,2.259,0,0,0-1.358.343,1.074,1.074,0,0,0-.461.905,1.114,1.114,0,0,0,.606.984,3.644,3.644,0,0,0,1.037.387l1.046.255a8.087,8.087,0,0,1,2.285.8,2.118,2.118,0,0,1,.923,1.907,2.906,2.906,0,0,1-.954,2.171,4.059,4.059,0,0,1-2.9.914,3.9,3.9,0,0,1-2.975-.954,3.606,3.606,0,0,1-.936-2.36Zm10.037-10,1.714,7.418.369,2.065.378-2.021,1.459-7.462h2.856l1.538,7.418.4,2.065.4-1.986,1.731-7.5h2.751L66.111,0H63.527L61.963-7.576l-.457-2.5-.457,2.5L59.484,0H56.971L53.3-12.955ZM74.654-7.77a1.7,1.7,0,0,0-1.349.545,2.72,2.72,0,0,0-.6,1.477H76.6a2.181,2.181,0,0,0-.6-1.507A1.87,1.87,0,0,0,74.654-7.77Zm0-2.065a5.021,5.021,0,0,1,2.153.448A3.772,3.772,0,0,1,78.39-7.972a4.828,4.828,0,0,1,.729,1.978A12.771,12.771,0,0,1,79.2-4.1H72.642a2.381,2.381,0,0,0,.905,2.021,2.132,2.132,0,0,0,1.248.36,1.8,1.8,0,0,0,1.257-.439,2.087,2.087,0,0,0,.466-.659h2.558a3.178,3.178,0,0,1-.888,1.731,4.349,4.349,0,0,1-3.445,1.4A4.858,4.858,0,0,1,71.517-.861a4.75,4.75,0,0,1-1.4-3.832A5.326,5.326,0,0,1,71.38-8.508,4.312,4.312,0,0,1,74.654-9.835Zm11.435.026q.07,0,.119,0l.215.013v2.566Q86.186-7.251,86-7.26t-.3-.009a2.078,2.078,0,0,0-2.03.984,3.829,3.829,0,0,0-.29,1.705V0H80.859V-9.58H83.25v1.67a5.3,5.3,0,0,1,1.011-1.31A2.752,2.752,0,0,1,86.089-9.809Zm1.775-3.1h2.461v6.979l3.12-3.6h3.1L93.2-5.871,96.68,0H93.656L91.362-4.1,90.325-3.015V0H87.864Z" transform="translate(-0.202 13.096)"/>
            </svg>
        </a>
    </f:if>
</footer>