/**
Define Own Variables & Override BS Varaiables
**/

/*
 *************************************************************************
 **                               Paths                                 **
 *************************************************************************
*/
$imgPath: '/typo3conf/ext/hive_thm_custom/Resources/Public/Assets/Img/';
$fontPath: '/typo3conf/ext/hive_thm_custom/Resources/Public/Assets/Fonts/';
$uploadPath: '/fileadmin/user_upload/';
$themingPath: '/fileadmin/theming/';


/*
 *************************************************************************
 **                          Override BS Container                      **
 *************************************************************************
*/
// Grid breakpoints
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
  //        xxxl: 1680px, //expand
  //        xxxxl: 1800px //expand
) !default;
// scss-docs-end grid-breakpoints


// Grid containers
// scss-docs-start container-max-widths
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
  //        xxxl: 1620px, //expand
  //        xxxxl: 1740px //expand
) !default;
// scss-docs-end container-max-widths