<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
<head></head>
<body>

<f:section name="body">

    <a id="top" name="top"></a>

    <f:render partial="Header/Header" arguments="{typoscriptObjectPath: 'lib.dynamicContent', pageUid: '{data.uid}', mainMenu: '{mainMenu}', sitesMenu: '{sitesMenu}', languageMenu: '{languageMenu}'}"/>

    <f:comment>
        <!-- Breadcrumb Menu to use -->
        <div class="menu--breadcrumb">
            <f:render partial="Navigation/Breadcrumb" arguments="{menu: '{breadcrumbMenu}'}"/>
        </div>
    </f:comment>

    <!--TYPO3SEARCH_begin-->
    <main id="content">
        <!-- new Structure: Container -->
        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '2101'}" />
    </main>
    <!--TYPO3SEARCH_end-->

    <f:render partial="Footer/Footer" arguments="{typoscriptObjectPath: 'lib.dynamicContent', pageUid: '{data.uid}'}"/>

</f:section>
</body>
</html>