<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">
        <ul>
            <f:for each="{menu}" as="page">
                <v:variable.set name="rootPid" value="{f:cObject(typoscriptObjectPath: 'lib.rootpid')}"/>
                <v:variable.set name="currentUid" value="{f:cObject(typoscriptObjectPath: 'lib.pageid')}"/>
                <li>
                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}" class="{f:if(condition: '{page.data.shortcut} == {rootPid}', then: 'active-root')}{f:if(condition: '{page.data.uid} == {currentUid}', then: ' active')}">
                    <span><f:format.raw>{page.title}</f:format.raw></span>
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
