<f:debug>{menu}</f:debug>
<f:if condition="{menu}">

    <f:comment>
        <!-- use bootstrap $breadcrumb-divider for custom divider -->
    </f:comment>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <f:for each="{menu}" as="item">
                <f:if condition="{item.current}">
                    <f:then>
                        <li class="breadcrumb-item text-muted current" aria-current="page">{item.title}</li>
                    </f:then>
                    <f:else>
                        <li class="breadcrumb-item"><a href="{item.link}">{item.title}</a></li>
                    </f:else>
                </f:if>
            </f:for>
        </ol>
    </nav>

</f:if>


