<f:if condition="{menu}">

    <f:for each="{menu}" as="item">
        <f:if condition="{item.active}">
            <f:variable name="currentLanguage" value="{item}" />
        </f:if>
    </f:for>

    <nav class="navbar navbar-expand" aria-label="Language">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="language-menu">

                <ul class="navbar nav language-menu">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><core:icon identifier="{currentLanguage.flag}" size="small" /><f:comment><span class="label">{currentLanguage.navigationTitle}</span></f:comment></a>
                        <ul class="dropdown-menu">
                            <f:for each="{menu}" as="item">
                                <li class="{f:if(condition: '{item.active}', then: 'active')}{f:if(condition: item.available, else: ' text-muted')}">
                                    <a class="dropdown-item{f:if(condition: '{item.active}', then: ' active')}{f:if(condition: item.available, else: ' disabled')}" href="{item.link}" hreflang="{item.hreflang}" title="{item.title}"><core:icon identifier="{item.flag}" size="small" /><span class="label">{item.title}</span></a>
                                </li>
                            </f:for>
                        </ul>
                    </li>
                </ul>

            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</f:if>