<f:if condition="{menu}">
    <nav class="navbar navbar-expand" aria-label="Sites">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="sites-menu">

                <ul class="navbar nav d-none d-md-flex sites-menu-desktop">
                    <f:for each="{menu}" as="item">
                        <li class="nav-item{f:if(condition: '{item.active}', then: ' active')}" data-site="{item.title}">
                            <a class="nav-link" href="{item.link}" target="{item.target}">{item.title}</a>
                        </li>
                    </f:for>
                </ul>

                <ul class="navbar nav d-flex d-md-none sites-menu-mobile">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Hover me  </a>
                        <ul class="dropdown-menu">
                            <f:for each="{menu}" as="item">
                                <li class="{f:if(condition: '{item.active}', then: 'active')}" data-site="{item.title}">
                                    <a class="dropdown-item" href="{item.link}" target="{item.target}">{item.title}</a>
                                </li>
                            </f:for>
                        </ul>
                    </li>
                </ul>

            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</f:if>