<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hive="http://typo3.org/ns/HIVE/HiveOvrFluidstyledcontent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{file.originalFile.properties.extension} == 'svg'">
    <f:then>

        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.enableInlineSVG')} == '1'">
            <f:then>
                <f:format.raw>
                    <hive:inlineSvg filePath="{file.originalFile.publicUrl}"
                        removeStyleAttributes="{f:cObject(typoscriptObjectPath:'lib.removeStyleAttributes')}" />
                </f:format.raw>
            </f:then>
            <f:else>
                <f:render section="picture" arguments="{_all}" />
            </f:else>
        </f:if>

    </f:then>
    <f:else>
        <f:render section="picture" arguments="{_all}" />
    </f:else>
</f:if>

</html>

<f:section name="picture">
    <picture>
        <source srcset="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large', fileExtension: 'webp')}"
            media="(min-width:1280px)" type="image/webp" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large')}" media="(min-width:1280px)" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1280',cropVariant:'large', fileExtension: 'webp')}"
            media="(min-width:992px)" type="image/webp" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1280',cropVariant:'large')}" media="(min-width:992px)" />
        <source srcset="{f:uri.image(image:file,maxWidth:'992',cropVariant:'medium', fileExtension: 'webp')}"
            media="(min-width:576px)" type="image/webp" />
        <source srcset="{f:uri.image(image:file,maxWidth:'992',cropVariant:'medium')}" media="(min-width:576px)" />
        <source srcset="{f:uri.image(image:file,maxWidth:'576',cropVariant:'small', fileExtension: 'webp')}"
            media="(min-width:0px)" type="image/webp" />
        <source srcset="{f:uri.image(image:file,maxWidth:'576',cropVariant:'small')}" media="(min-width:0px)" />
        <img width="{dimensions.width}" height="{dimensions.height}" class="image-embed-item img-fluid"
            src="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large')}" alt="{file.alternative}"
            title="{file.title}" loading="{settings.media.lazyLoading}" decoding="{settings.media.imageDecoding}" />
    </picture>
</f:section>
