<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bg4ce="http://typo3.org/ns/SBTheke/Backgroundimage4ce/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div id="c{data.uid}" class="container-dummy
        {f:if(condition: data.tx_hiveovrttcontent_customcssclass, then: '{data.tx_hiveovrttcontent_customcssclass}')}
        {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
        {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
        {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
        {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')}
        {f:if(condition: data.tx_backgroundimage4ce_active, then: ' {bg4ce:renderBackground(cObj: data)}')}">

    <f:if condition="{data.tx_hiveovrttcontent_anchortargetname}">
        <a name="{data.tx_hiveovrttcontent_anchortargetname}" class="anchor-target"></a>
    </f:if>

    <div class="container">
        <div class="row">
            <f:if condition="{children_1001}">
                <div class="col-12 col--1">
                    <f:for each="{children_1001}" as="child">
                        <f:format.raw>{child.renderedContent}</f:format.raw>
                    </f:for>
                </div>
            </f:if>
        </div>
    </div>

</div>