<header id="header" class="header">

    <f:comment>
        <!-- Menus to use -->
        <div class="menu--main">
            <f:render partial="Navigation/Main" arguments="{menu: '{mainMenu}'}"/>
        </div>
        <div class="menu--sites">
            <f:render partial="Navigation/Sites" arguments="{menu: '{sitesMenu}'}"/>
        </div>
        <div class="menu--language">
            <f:render partial="Navigation/Language" arguments="{menu: '{languageMenu}'}"/>
        </div>
    </f:comment>

</header>