<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bg4ce="http://typo3.org/ns/SBTheke/Backgroundimage4ce/ViewHelpers"
      data-namespace-typo3-fluid="true">

{f:variable(name: 'css', value: ' {data.pi_flexform.containerClass}') -> f:if(condition: data.pi_flexform.containerClass)}
<f:if condition="{data.pi_flexform.isContainerFluid} == '1'">
    <f:then>
        {f:variable(name: 'css', value: '{css} container-fluid')}
    </f:then>
    <f:else if="{data.pi_flexform.containerClass} == ''">
        {f:variable(name: 'css', value: '{css} container')}
    </f:else>
</f:if>
<f:if condition="{data.pi_flexform.wrapSection} == '1'">
    <f:then>
        <section id="c{data.uid}" class="section section-default{f:if(condition: data.pi_flexform.sectionClass, then: ' {data.pi_flexform.sectionClass}')}{f:if(condition: data.tx_hiveovrttcontent_customcssclass, then: ' {data.tx_hiveovrttcontent_customcssclass}')}{f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}{f:if(condition: data.frame_class, then: ' frame-{data.frame_class}')}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: data.tx_backgroundimage4ce_active, then: ' {bg4ce:renderBackground(cObj: data)}')}">
            <f:if condition="{data.tx_hiveovrttcontent_anchortargetname}">
                <div id="{data.tx_hiveovrttcontent_anchortargetname}" class="anchor-target"></div>
            </f:if>
            <div class="ce-container{css}" {data.pi_flexform.containerAttribute -> f:format.htmlentitiesDecode()}>
                <f:render section="renderContent" arguments="{_all}" />
            </div>
        </section>
    </f:then>
    <f:else>
        <div id="c{data.uid}" class="ce-container{css}{f:if(condition: data.tx_hiveovrttcontent_customcssclass, then: ' {data.tx_hiveovrttcontent_customcssclass}')}{f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}{f:if(condition: data.frame_class, then: ' frame-{data.frame_class}')}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: data.tx_backgroundimage4ce_active, then: ' {bg4ce:renderBackground(cObj: data)}')}" {data.pi_flexform.containerAttribute -> f:format.htmlentitiesDecode()}>
            <f:if condition="{data.tx_hiveovrttcontent_anchortargetname}">
                <div id="{data.tx_hiveovrttcontent_anchortargetname}" class="anchor-target"></div>
            </f:if>
            <f:render section="renderContent" arguments="{_all}" />
        </div>
    </f:else>
</f:if>

<f:section name="renderContent">
    <f:for each="{children_101}" as="record">
        <f:format.raw>{record.renderedContent}</f:format.raw>
    </f:for>
</f:section>
</html>
