/*
 *************************************************************************
 **                               Space Before                          **
 *************************************************************************
*/
.frame-space-before-padding-extra-small { padding-top: 1em; }
.frame-space-before-padding-small { padding-top: 2em; }
.frame-space-before-padding-medium { padding-top: 3em; }
.frame-space-before-padding-large { padding-top: 4em; }
.frame-space-before-padding-extra-large { padding-top: 5em; }

/*
 *************************************************************************
 **                               Space After                           **
 *************************************************************************
*/
.frame-space-after-padding-extra-small { padding-bottom: 1em; }
.frame-space-after-padding-small { padding-bottom: 2em; }
.frame-space-after-padding-medium { padding-bottom: 3em; }
.frame-space-after-padding-large { padding-bottom: 4em; }
.frame-space-after-padding-extra-large { padding-bottom: 5em; }