<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="bg-info ce-content-element-info {CType}{f:if(condition: '{pi_flexform_transformed.wrapSection}', then: '_section')}{f:if(condition: header, then: ' cec-my')}">

    <f:comment><!-- display additional infos --></f:comment>
    {f:if(condition: '{tx_hiveovrttcontent_backendtitle}', then: '<strong>{tx_hiveovrttcontent_backendtitle}</strong><br>')}

    <f:if condition="{CType} == 'ce_container'">
        <f:then>
            {f:if(condition: '{pi_flexform_transformed.wrapSection}', then: 'SECTION |')}
            {f:if(condition: '{pi_flexform_transformed.containerClass}', then: 'Own Container:{pi_flexform_transformed.containerClass}', else: 'Container')}
            {f:if(condition: '{pi_flexform_transformed.isContainerFluid}', then: ' [is Fluid]', else: '')}
        </f:then>
        <f:else if="{CType} == 'ce_tabs'">
            TABS
        </f:else>
        <f:else if="{CType} == 'ce_accordion'">
            ACCORDION
        </f:else>
        <f:else if="{CType} == 'ce_card'">
            CARD
        </f:else>
        <f:else if="{CType} == 'ce_tile_unit'">
           TILE UNIT
        </f:else>
        <f:else>
            <f:switch expression="{CType}">
                <f:case value="ce_columns2">
                    <f:variable name="col-number" value=":2" />
                </f:case>
                <f:case value="ce_columns3">
                    <f:variable name="col-number" value=":3" />
                </f:case>
                <f:case value="ce_columns4">
                    <f:variable name="col-number" value=":4" />
                </f:case>
                <f:defaultCase>
                    <f:variable name="col-number" value="" />
                </f:defaultCase>
            </f:switch>
            COLUMN{col-number}
        </f:else>
    </f:if>

    <f:if condition="{frame_class} == 'none'">
        <f:then>
            | {f:translate(key: 'without_frame', extensionName: 'container_elements')} <core:icon identifier="container-elements-noframe" />
        </f:then>
        <f:else>
            | {f:translate(key: 'with_frame', extensionName: 'container_elements')} <core:icon identifier="container-elements-frame" />
        </f:else>
    </f:if>

    <br>

    {f:if(condition: '{tx_hiveovrttcontent_customcssclass}', then: 'Custom Classes: {tx_hiveovrttcontent_customcssclass} |')}
    {f:if(condition: '{tx_hiveovrttcontent_anchortargetname}', then: 'Anchor: {tx_hiveovrttcontent_anchortargetname} |')}
    {f:if(condition: '{tx_backgroundimage4ce_active}', then: 'with backgroundimage')}

</div>

<f:format.raw>{tx_container_grid}</f:format.raw>
<f:asset.css identifier="ce-container" href="EXT:container_elements/Resources/Public/Css/backend.css" />

</html>