.ce-content-element-info {
   background-color: #CEBFE5!important;
}
.ce-content-element-info.ce_columns2,
.ce-content-element-info.ce_columns3,
.ce-content-element-info.ce_columns4
{
   background-color: #DEDC00!important;
}
.ce-content-element-info.ce_container {
   background-color: #95C11E!important;
}
.ce-content-element-info.ce_container_section {
   background-color: #009982!important;
   color: #fff!important;
}